{% extends "layout-back.html" %}

{% block pageTitle %}
FEW Staff and vacancy data - Academic qualifications
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" action="qualification-level">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <span class="govuk-caption-m">Jo Bloggs</span>

                    <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId"
                        name="StaffId" value="3033">
                    <input type="hidden" value="15" id="PreviousScreenNumber" name="PreviousScreenNumber">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">


                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" 0="">
                                <h1 class="govuk-fieldset__heading">
                                    What is the main academic subject area they teach? </h1>
                            </legend>
                            <div class="govuk-hint">
                                Select a main subject area. Can be A level or GCSE
                            </div>

                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId47" name="SingleOption.Selection" value="47"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId47" class="govuk-label govuk-radios__label">
                                        Ancient Languages
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId48" name="SingleOption.Selection" value="48"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId48" class="govuk-label govuk-radios__label">
                                        Archaeology
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId49" name="SingleOption.Selection" value="49"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId49" class="govuk-label govuk-radios__label">
                                        Astronomy
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId50" name="SingleOption.Selection" value="50"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId50" class="govuk-label govuk-radios__label">
                                        Art and Design, History of Art
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId51" name="SingleOption.Selection" value="51"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId51" class="govuk-label govuk-radios__label">
                                        Biology
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId52" name="SingleOption.Selection" value="52"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId52" class="govuk-label govuk-radios__label">
                                        Chemistry
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId53" name="SingleOption.Selection" value="53"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId53" class="govuk-label govuk-radios__label">
                                        Citizenship studies
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId54" name="SingleOption.Selection" value="54"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId54" class="govuk-label govuk-radios__label">
                                        Classical studies
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId55" name="SingleOption.Selection" value="55"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId55" class="govuk-label govuk-radios__label">
                                        Computer science
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId56" name="SingleOption.Selection" value="56"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId56" class="govuk-label govuk-radios__label">
                                        Dance, drama and theatre
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId57" name="SingleOption.Selection" value="57"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId57" class="govuk-label govuk-radios__label">
                                        Design, technology and engineering
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId58" name="SingleOption.Selection" value="58"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId58" class="govuk-label govuk-radios__label">
                                        Electronics
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId59" name="SingleOption.Selection" value="59"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId59" class="govuk-label govuk-radios__label">
                                        English
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId60" name="SingleOption.Selection" value="60"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId60" class="govuk-label govuk-radios__label">
                                        Environmental science
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId61" name="SingleOption.Selection" value="61"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId61" class="govuk-label govuk-radios__label">
                                        Film and media studies
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId62" name="SingleOption.Selection" value="62"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId62" class="govuk-label govuk-radios__label">
                                        Food preparation and nutrition
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId63" name="SingleOption.Selection" value="63"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId63" class="govuk-label govuk-radios__label">
                                        Geography
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId64" name="SingleOption.Selection" value="64"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId64" class="govuk-label govuk-radios__label">
                                        Geology
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId65" name="SingleOption.Selection" value="65"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId65" class="govuk-label govuk-radios__label">
                                        History
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId66" name="SingleOption.Selection" value="66"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId66" class="govuk-label govuk-radios__label">
                                        Mathematics
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId67" name="SingleOption.Selection" value="67"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId67" class="govuk-label govuk-radios__label">
                                        Modern foreign languages
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId68" name="SingleOption.Selection" value="68"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId68" class="govuk-label govuk-radios__label">
                                        Music
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId69" name="SingleOption.Selection" value="69"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId69" class="govuk-label govuk-radios__label">
                                        Physical education
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId70" name="SingleOption.Selection" value="70"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId70" class="govuk-label govuk-radios__label">
                                        Philosophy
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId71" name="SingleOption.Selection" value="71"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId71" class="govuk-label govuk-radios__label">
                                        Physics
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId72" name="SingleOption.Selection" value="72"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId72" class="govuk-label govuk-radios__label">
                                        Politics
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId73" name="SingleOption.Selection" value="73"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId73" class="govuk-label govuk-radios__label">
                                        Psychology
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId74" name="SingleOption.Selection" value="74"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId74" class="govuk-label govuk-radios__label">
                                        Religious studies
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId75" name="SingleOption.Selection" value="75"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId75" class="govuk-label govuk-radios__label">
                                        Sociology
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId76" name="SingleOption.Selection" value="76"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId76" class="govuk-label govuk-radios__label">
                                        Other
                                    </label>
                                </div>
                                <input type="hidden" data-val="true"
                                    data-val-required="The StartDate field is required." id="Collection_StartDate"
                                    name="Collection.StartDate" value="">
                                <input type="hidden" data-val="true" data-val-required="The EndDate field is required."
                                    id="Collection_EndDate" name="Collection.EndDate" value="">
                            </div>
                            <br>
                        </fieldset>
                    </div>

                </div>
            </div>
            <br>
            <button class="govuk-button" type="submit" id="submit">
                Save and continue
            </button>
            <input name="__RequestVerificationToken" type="hidden"
                value="CfDJ8KK5pQ8LLh1EhGP30JpsGq2WiZve3O7ltdzT5slq0BulEYED9AAhH3Xd5cFIDJlgN1NSnxtFIKtEszfIb3SLRqwgADJ-txsY7YObKKW8Fg_HryFgQpwv3R55p1U15Y2kyTN3yT7FuefrR3W9melNCA2x_tbXxnnDRQdDnjaVQFWctfe_bMKxDBmwOOacr5fZxw">
        </form>
    </div>



</div>


{% endblock %}