{% extends "layout-back.html" %}

{% block pageTitle %}
FEW Staff and vacancy data - Job role
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" action="what-do-they-teach">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <span class="govuk-caption-m">Jo Bloggs</span>

                    <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId"
                        name="StaffId" value="3033">
                    <input type="hidden" id="StaffName" name="StaffName" value="Jo Bloggs">


                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">


                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" 0="">
                                <h1 class="govuk-fieldset__heading">
                                    What are their job roles? </h1>
                            </legend>
                            <div class="govuk-hint">
                                Select one or more options that are relevant to the staff members' job activities within
                                the organisation.
                            </div>

                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input id="LookupItemId35" name="MultipleOption.Selection" value="35"
                                        aria-describedby="LookupHintItemId35" class="govuk-checkboxes__input"
                                        type="checkbox">
                                    <label for="LookupItemId35" class="govuk-label govuk-checkboxes__label">
                                        Senior Leader
                                    </label>
                                    <div id="LookupHintItemId35" class="govuk-hint govuk-checkboxes__hint">
                                        Principal, vice-principal, director, CEO, head of FE service or training
                                    </div>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input id="LookupItemId36" name="MultipleOption.Selection" value="36"
                                        aria-describedby="LookupHintItemId36" class="govuk-checkboxes__input"
                                        type="checkbox">
                                    <label for="LookupItemId36" class="govuk-label govuk-checkboxes__label">
                                        Manager
                                    </label>
                                    <div id="LookupHintItemId36" class="govuk-hint govuk-checkboxes__hint">
                                        Functional or people manager. Faculty, department, curriculum, or programme
                                        lead. Advanced practitioner
                                    </div>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input id="LookupItemId37" name="MultipleOption.Selection" value="37"
                                        aria-describedby="LookupHintItemId37" class="govuk-checkboxes__input"
                                        type="checkbox">
                                    <label for="LookupItemId37" class="govuk-label govuk-checkboxes__label">
                                        Teacher
                                    </label>
                                    <div id="LookupHintItemId37" class="govuk-hint govuk-checkboxes__hint">
                                        Lecturer, teacher, trainer or tutor
                                    </div>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input id="LookupItemId38" name="MultipleOption.Selection" value="38"
                                        aria-describedby="LookupHintItemId38" class="govuk-checkboxes__input"
                                        type="checkbox">
                                    <label for="LookupItemId38" class="govuk-label govuk-checkboxes__label">
                                        Teaching Support
                                    </label>
                                    <div id="LookupHintItemId38" class="govuk-hint govuk-checkboxes__hint">
                                        Teaching assistant, mentor, assessor
                                    </div>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input id="LookupItemId39" name="MultipleOption.Selection" value="39"
                                        aria-describedby="LookupHintItemId39" class="govuk-checkboxes__input"
                                        type="checkbox">
                                    <label for="LookupItemId39" class="govuk-label govuk-checkboxes__label">
                                        Administration
                                    </label>
                                    <div id="LookupHintItemId39" class="govuk-hint govuk-checkboxes__hint">
                                        Technology support staff, human resources (HR), finance roles, admission and
                                        back office staff
                                    </div>
                                </div>
                                <input type="hidden" data-val="true"
                                    data-val-required="The StartDate field is required." id="Collection_StartDate"
                                    name="Collection.StartDate" value="">
                                <input type="hidden" data-val="true" data-val-required="The EndDate field is required."
                                    id="Collection_EndDate" name="Collection.EndDate" value="">
                            </div>
                            <br>
                        </fieldset>
                    </div>

                </div>
            </div>
            <br>
            <button class="govuk-button" type="submit" id="submit">
                Save and continue
            </button>
            <input name="__RequestVerificationToken" type="hidden"
                value="CfDJ8KK5pQ8LLh1EhGP30JpsGq1Q8czduyZUt-Xss9lfLVlaDoOr2da3l8TNiSWtbmEoKoHvSeY3sTQD-3hp2w-TZ1Z9gbOP5iRQagRKieJ0N74tFJy6r26bvuc2d2Yk1BV83V0Sd5w9X03H5Pb1T6rZ1dj3-IoIO6RM0IRZrMyu_RqKrfz6kMfTo4U1nImB3ylL2w">
        </form>
    </div>



</div>


{% endblock %}