{% extends "layout-back.html" %}

{% block pageTitle %}
FEW Staff and vacancy data - Other learning
{% endblock %}

{% block content %}


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                    <form method="post" action="qualification-level">
                <span class="govuk-caption-m">Jo Bloggs</span>

                <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId" name="StaffId" value="3033">
                <input type="hidden" value="17" id="PreviousScreenNumber" name="PreviousScreenNumber">

                    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" 0="">
                    <h1 class="govuk-fieldset__heading">
What is the main subject area they teach?                    </h1>
                </legend>
            <div class="govuk-hint">
                Select a main learning programme
            </div>

            <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId100" name="SingleOption.Selection" value="100" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId100" class="govuk-label govuk-radios__label">
                                Functional Skills English
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId101" name="SingleOption.Selection" value="101" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId101" class="govuk-label govuk-radios__label">
                                Functional Skills Maths
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId102" name="SingleOption.Selection" value="102" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId102" class="govuk-label govuk-radios__label">
                                Functional Skills IT
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId103" name="SingleOption.Selection" value="103" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId103" class="govuk-label govuk-radios__label">
                                Life Skills
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId104" name="SingleOption.Selection" value="104" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId104" class="govuk-label govuk-radios__label">
                                Preparation for Work
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId105" name="SingleOption.Selection" value="105" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId105" class="govuk-label govuk-radios__label">
                                Supported Learning or Special Educational Needs learning provision
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId106" name="SingleOption.Selection" value="106" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId106" class="govuk-label govuk-radios__label">
                                ESOL
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId107" name="SingleOption.Selection" value="107" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId107" class="govuk-label govuk-radios__label">
                                Community Learning
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId108" name="SingleOption.Selection" value="108" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId108" class="govuk-label govuk-radios__label">
                                Family Learning
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId109" name="SingleOption.Selection" value="109" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId109" class="govuk-label govuk-radios__label">
                                Other
                            </label>
                        </div>
                <input type="hidden" data-val="true" data-val-required="The StartDate field is required." id="Collection_StartDate" name="Collection.StartDate" value="">
                <input type="hidden" data-val="true" data-val-required="The EndDate field is required." id="Collection_EndDate" name="Collection.EndDate" value="">
            </div>
            <br>
        </fieldset>
    </div>

    <br>
        <button class="govuk-button" type="submit" id="submit">
            Save and continue
        </button>
</form>
            </div>
        </div>
        

    {% endblock %}