{% extends "layout-back.html" %}

{% block pageTitle %}
FE Workforce - Start
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form method="post" action="which-were-difficult-to-recruit">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-xl">Academic year: 1 August 2020 to 31 July 2021</span>
                <h1 class="govuk-fieldset__heading">
                    Recruiting for teaching vacancies
                </h1>
            </legend>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">


                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" 0="">
                        <h2 class="govuk-fieldset__heading">
                            Did you have difficulty recruiting for any teaching vacancies during the academic year?
                        </h2>
                    </legend>
                    <div class="govuk-hint">
                        You can add further details on the next page if applicable
                    </div>

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId209" name="SingleOption.Selection" value="209" checked=""
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId209" class="govuk-label govuk-radios__label">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId210" name="SingleOption.Selection" value="210"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId210" class="govuk-label govuk-radios__label">
                                No
                            </label>
                        </div>
                        <input type="hidden" data-val="true" data-val-required="The StartDate field is required."
                            id="Collection_StartDate" name="Collection.StartDate" value="8/1/2020 12:00:00 AM">
                        <input type="hidden" data-val="true" data-val-required="The EndDate field is required."
                            id="Collection_EndDate" name="Collection.EndDate" value="7/31/2021 12:00:00 AM">
                    </div>
                    <br>
                </fieldset>
            </div>



            <br>
            <button class="govuk-button" type="submit" id="submit">
                Save and continue
            </button>
            <input name="__RequestVerificationToken" type="hidden"
                value="CfDJ8KK5pQ8LLh1EhGP30JpsGq07fBoPy6P6K55lDJaWBpSf5DGkXtUi-BTqCCbIH0EebN9Q04UisxbxfQnFOsnW0sN8Tp2iZAvFm-dzPNf83H1tI_ZlqItAAxrymoCqrYwj-6cOG2RFsU7mlEHB8NWpqooZkLDygUNCmAbyFykBtpiE9zVecbrvcJA5e0ZH6RwAaA">
        </form>

    </div>
</div>



{% endblock %}