
{% extends "layout-back.html" %}

{% block pageTitle %}
FE Workforce - Start
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
          
        <span class="govuk-caption-xl">Academic year: 1 August 2020 to 31 July 2021</span>
        <h1 class="govuk-heading-xl">Further education (FE) staff and vacancy data collection</h1>

        <p class="govuk-body">
            If you receive direct funding from the ESFA you must tell us about the staff you employ.
        </p>

        <p class="govuk-body">
            Use this collection service to record and submit:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>FE staff data</li>
            <li>FE vacancy and recruitment data</li>
        </ul>

        <h2 class="govuk-heading-m">Recording and submitting data</h2>

        <p class="govuk-body">
            Data can be submitted using either of the following methods:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Online form service for staff and vacancy data collection</li>
            <li>XML file upload service for staff data collection only</li>
        </ul>

        <p class="govuk-body">
            XML file data can be prepared and generated <a class="govuk-link" href="/publicdownloads/FEWorkforceStaffentrytool">using our desktop application</a> or your own system
        </p>

        <p class="govuk-body">
            The time it takes to complete the collection will depend on how many staff are recorded and which recording method is used.
        </p>

        <h3 class="govuk-heading-s">Staff roles to record</h3>

        <p class="govuk-body">
            Record staff data for:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>senior leaders</li>
            <li>managers</li>
            <li>teachers</li>
            <li>teaching support</li>
            <li>administration staff</li>
        </ul>

        <p class="govuk-body">
            Do not record data for:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>agency staff</li>
            <li>self-employed or freelance staff</li>
            <li>staff working for a provider through an intermediary, such as a personal service company</li>
            <li>individuals in support roles which do not directly support learning, for example maintenance, cleaning and other ancillary roles</li>
        </ul>

        <h3 class="govuk-heading-s">How we use data</h3>

        <p class="govuk-body">
            When you use this service, we will collect personal information such as staff member names.
            <a class="govuk-link" href="https://www.gov.uk/government/publications/further-education-workforce-data-collection" target="_blank">Read about how we use personal information</a>
        </p>

        <a class="govuk-button" href="record-fe-data.html">
            Continue
        </a>           
    </div>
</div>


{% endblock %}
