{% extends "layout-back.html" %}

{% block pageTitle %}
FEW Staff and vacancy data - Job relevancy
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        <form method="post" action="job-outside-fe">
            
                
                    <span class="govuk-caption-m">Jo Bloggs</span>

                    <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId"
                        name="StaffId" value="3033">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">


                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" 0="">
                                <h1 class="govuk-fieldset__heading">
                                    Prior to their FE role, how long did they work in a job relevant to the subject they
                                    teach? </h1>
                            </legend>
                            <div class="govuk-hint">
                                Select an option
                            </div>

                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId166" name="SingleOption.Selection" value="166"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId166" class="govuk-label govuk-radios__label">
                                        Less than one year
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId167" name="SingleOption.Selection" value="167"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId167" class="govuk-label govuk-radios__label">
                                        1 to 3 years
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId168" name="SingleOption.Selection" value="168"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId168" class="govuk-label govuk-radios__label">
                                        4 to 10 years
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId169" name="SingleOption.Selection" value="169"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId169" class="govuk-label govuk-radios__label">
                                        11 to 20 years
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId170" name="SingleOption.Selection" value="170"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId170" class="govuk-label govuk-radios__label">
                                        Over 20 years
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId171" name="SingleOption.Selection" value="171"
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId171" class="govuk-label govuk-radios__label">
                                        They haven’t had prior industry experience
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId172" name="SingleOption.Selection" value="172" checked=""
                                        class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId172" class="govuk-label govuk-radios__label">
                                        Not known
                                    </label>
                                </div>
                                <input type="hidden" data-val="true"
                                    data-val-required="The StartDate field is required." id="Collection_StartDate"
                                    name="Collection.StartDate" value="">
                                <input type="hidden" data-val="true" data-val-required="The EndDate field is required."
                                    id="Collection_EndDate" name="Collection.EndDate" value="">
                            </div>
                            <br>
                        </fieldset>
                    </div>

                
            
            <br>
            <button class="govuk-button" type="submit" id="submit">
                Save and continue
            </button>
            <input name="__RequestVerificationToken" type="hidden"
                value="CfDJ8KK5pQ8LLh1EhGP30JpsGq0TaYbo6-fyyVKNaTeUBR1rm6_zswcIHgmv5IfbKmzItkwXQz98lkDxe9LgtBSSYPXZ2IK_k9xJNoofyDgMwT4PSRlitrz-_oK1cjgLxrb-fP5iDTadb95QCIuX2lfmA2ePRguCHu1nbg3QQtnzACm3HKuMZ_wr41hivVCpkGdLng">
        </form>

    </div>

</div>

{% endblock %}