{% extends "layout-back.html" %}

{% block pageTitle %}
FE Workforce - Start
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" action="still-work-for-the-organisation">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <span class="govuk-caption-m">Jay Jay</span>
        
                        <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId" name="StaffId" value="3049">
        
                            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    
        
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" 0="">
                            <h1 class="govuk-fieldset__heading">
        How long have they worked in Further Education?                    </h1>
                        </legend>
                    <div class="govuk-hint">
                        Select an option
                    </div>
        
                    <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId188" name="SingleOption.Selection" value="188" class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId188" class="govuk-label govuk-radios__label">
                                        Less than one year
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId189" name="SingleOption.Selection" value="189" class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId189" class="govuk-label govuk-radios__label">
                                        1 to 3 years
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId190" name="SingleOption.Selection" value="190" class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId190" class="govuk-label govuk-radios__label">
                                        4 to 10 years
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId191" name="SingleOption.Selection" value="191" class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId191" class="govuk-label govuk-radios__label">
                                        11 to 20 years
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId192" name="SingleOption.Selection" value="192" class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId192" class="govuk-label govuk-radios__label">
                                        Over 20 years
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input id="LookupItemId193" name="SingleOption.Selection" value="193" class="govuk-radios__input" type="radio">
                                    <label for="LookupItemId193" class="govuk-label govuk-radios__label">
                                        Not known 
                                    </label>
                                </div>
                        <input type="hidden" data-val="true" data-val-required="The StartDate field is required." id="Collection_StartDate" name="Collection.StartDate" value="">
                        <input type="hidden" data-val="true" data-val-required="The EndDate field is required." id="Collection_EndDate" name="Collection.EndDate" value="">
                    </div>
                    <br>
                </fieldset>
            </div>
        
                    </div>
                </div>
                <br>
                <button class="govuk-button" type="submit" id="submit">
                    Save and continue
                </button>
        </form>

    </div>
</div>

{% endblock %}