{% extends "layout-back.html" %}

{% block pageTitle %}
FEW Staff and vacancy data - Vacancy recruitment answers
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <span class="govuk-caption-l">Academic year: 1 August 2020 to 31 July 2021</span>

        <h1 class="govuk-heading-l">Check your answers</h1>
        <p>Summary of details recorded for vacancy and recruitment data</p>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
           
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-1"
                            aria-controls="accordion-default-content-1" class="govuk-accordion__section-button"
                            aria-expanded="false">
                            Senior leader and management role vacancies
                            <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>

                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-1">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>15 vacancies</li>
                        <li>All filled</li>
                    </ul>
                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-1"
                            aria-controls="accordion-default-content-2" class="govuk-accordion__section-button"
                            aria-expanded="false">
                            Were there any teaching vacancies during the academic year?
                            <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>

                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-1">
                    <p>Yes</p>
                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-2"
                            aria-controls="accordion-default-content-3" class="govuk-accordion__section-button"
                            aria-expanded="false">
                            Teaching vacancy and recruitment details
                            <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-2">

                    <h3 class="govuk-heading-m"> Academic subjects</h3>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>11 Archaeology vacancies</li>
                        <li>3 filled</li>

                    </ul>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>5 Other vacancies</li>
                        <li>1 filled</li>

                    </ul>
                    <h3 class="govuk-heading-m"> Vocational programmes</h3>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>1 Transport and Logistics vacancy</li>
                        <li>None filled</li>

                    </ul>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-1"
                            aria-controls="accordion-default-content-4" class="govuk-accordion__section-button"
                            aria-expanded="false">
                            Did you have difficulty recruiting for any teaching vacancies during the academic year?
                            <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-1">
                    <p>Yes</p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-3"
                            aria-controls="accordion-default-content-5" class="govuk-accordion__section-button"
                            aria-expanded="false">
                            Which teaching vacancies were difficult to recruit for?
                            <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-2">
                    <h3 class="govuk-heading-m">Archaeology vacancies</h3>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>A lack of relevant industry experience</li>
                        <li>Did not have the right qualifications</li>
                    </ul>
                    <h3 class="govuk-heading-m">Transport and Logistics vacancies</h3>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>A lack of teaching experience or skills</li>
                        <li>Looking for more pay than we could offer</li>
                        <li>Another reason</li>
                    </ul>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-4"
                            aria-controls="accordion-default-content-6" class="govuk-accordion__section-button"
                            aria-expanded="false">
                            How many apprentices worked for the organisation?
                            <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>

                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">

                    <p class="govuk-body">1 apprentice</p>
                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-4"
                            aria-controls="accordion-default-content-7" class="govuk-accordion__section-button"
                            aria-expanded="false">
                            Does the organisation provide counselling services?
                            <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>

                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">

                    <p class="govuk-body">Yes</p>
                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-4"
                            aria-controls="accordion-default-content-8" class="govuk-accordion__section-button"
                            aria-expanded="false">
                            When is staff counselling available?
                            <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>

                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">

                    <p class="govuk-body">Both during and outside working hours</p>
                </div>
            </div>
        </div>
        <a class="govuk-button show-continue" href="record-fe-data">
            Finish
        </a>
        <a href="senior-leader-and-management-vacancies" class="govuk-button govuk-button--secondary" data-module="govuk-button">Edit answers</a>



    </div>
</div>



{% endblock %}