{% extends "layout-back.html" %}

{% block pageTitle %}
FE Workforce - Start
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" action="qualification-level">
            <span class="govuk-caption-m">Jo Bloggs</span>


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">


                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" 0="">
                        <h1 class="govuk-fieldset__heading">
                            What is the main vocational subject area they teach? </h1>
                    </legend>
                    <div class="govuk-hint">
                        Select a main vocational subject area. Can be BTECs, apprenticeships, traineeships, T levels
                    </div>

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId77" name="SingleOption.Selection" value="77"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId77" class="govuk-label govuk-radios__label">
                                Accounting and Finance
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId78" name="SingleOption.Selection" value="78"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId78" class="govuk-label govuk-radios__label">
                                Agriculture and Horticulture
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId79" name="SingleOption.Selection" value="79"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId79" class="govuk-label govuk-radios__label">
                                Animal Care
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId80" name="SingleOption.Selection" value="80"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId80" class="govuk-label govuk-radios__label">
                                Business Management and Administration
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId81" name="SingleOption.Selection" value="81"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId81" class="govuk-label govuk-radios__label">
                                Catering and Hospitality
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId82" name="SingleOption.Selection" value="82"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId82" class="govuk-label govuk-radios__label">
                                Construction, Planning and the Built Environment
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId83" name="SingleOption.Selection" value="83"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId83" class="govuk-label govuk-radios__label">
                                Crafts, Creative Arts and Design
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId84" name="SingleOption.Selection" value="84"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId84" class="govuk-label govuk-radios__label">
                                Design, Engineering and Manufacturing
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId85" name="SingleOption.Selection" value="85"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId85" class="govuk-label govuk-radios__label">
                                Digital / ICT
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId86" name="SingleOption.Selection" value="86"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId86" class="govuk-label govuk-radios__label">
                                Education and Childcare
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId87" name="SingleOption.Selection" value="87"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId87" class="govuk-label govuk-radios__label">
                                Education and Training
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId88" name="SingleOption.Selection" value="88"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId88" class="govuk-label govuk-radios__label">
                                Environmental
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId89" name="SingleOption.Selection" value="89"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId89" class="govuk-label govuk-radios__label">
                                Hair, Beauty and Aesthetics
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId90" name="SingleOption.Selection" value="90"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId90" class="govuk-label govuk-radios__label">
                                Health, Public Services and Care
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId91" name="SingleOption.Selection" value="91"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId91" class="govuk-label govuk-radios__label">
                                Law and Legal Services
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId92" name="SingleOption.Selection" value="92"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId92" class="govuk-label govuk-radios__label">
                                Media, Broadcast and Production
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId93" name="SingleOption.Selection" value="93"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId93" class="govuk-label govuk-radios__label">
                                Performing Arts
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId94" name="SingleOption.Selection" value="94"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId94" class="govuk-label govuk-radios__label">
                                Retail and Commercial Enterprise
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId95" name="SingleOption.Selection" value="95"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId95" class="govuk-label govuk-radios__label">
                                Science
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId96" name="SingleOption.Selection" value="96"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId96" class="govuk-label govuk-radios__label">
                                Sport, Leisure and Recreation
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId97" name="SingleOption.Selection" value="97"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId97" class="govuk-label govuk-radios__label">
                                Transport and Logistics
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId98" name="SingleOption.Selection" value="98"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId98" class="govuk-label govuk-radios__label">
                                Travel and Tourism
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId99" name="SingleOption.Selection" value="99"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId99" class="govuk-label govuk-radios__label">
                                Other
                            </label>
                        </div>
                        <input type="hidden" data-val="true" data-val-required="The StartDate field is required."
                            id="Collection_StartDate" name="Collection.StartDate" value="">
                        <input type="hidden" data-val="true" data-val-required="The EndDate field is required."
                            id="Collection_EndDate" name="Collection.EndDate" value="">
                    </div>
                    <br>
                </fieldset>
            </div>



            <br>
            <button class="govuk-button" type="submit" id="submit">
                Save and continue
            </button>
            <input name="__RequestVerificationToken" type="hidden"
                value="CfDJ8KK5pQ8LLh1EhGP30JpsGq0tOw_ZgsjyqNQ978Eb75dp1ree-jPycRcnsDGL7iuDeaC00efuPy4OCwK8IADxLEUEZtnO9gUyRksxV9S1XaXH2kLq5CR5eKB2Noai9IAg8pJc8BWOjDqAGLahw442bOlTdqdhurkPRisXvzcyKVBPpV0JfNsgf6-PR8qC4dP_2g">
        </form>


    </div>



</div>


{% endblock %}