{% extends "layout-back.html" %}

{% block pageTitle %}
FE Workforce - Start
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" action="vacancy-recruitment-answers">
            <span class="govuk-caption-xl">Academic year: 1 August 2020 to 31 July 2021</span>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">


                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" 0="">
                        <h1 class="govuk-fieldset__heading">
                            When is staff counselling available? </h1>
                    </legend>
                    <div class="govuk-hint">

                    </div>

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId214" name="SingleOption.Selection" value="214"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId214" class="govuk-label govuk-radios__label">
                                During working hours
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId215" name="SingleOption.Selection" value="215"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId215" class="govuk-label govuk-radios__label">
                                Outside of working hours
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId216" name="SingleOption.Selection" value="216" checked=""
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId216" class="govuk-label govuk-radios__label">
                                Both during and outside working hours
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId217" name="SingleOption.Selection" value="217"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId217" class="govuk-label govuk-radios__label">
                                Other
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId218" name="SingleOption.Selection" value="218"
                                class="govuk-radios__input" type="radio">
                            <label for="LookupItemId218" class="govuk-label govuk-radios__label">
                                Not known
                            </label>
                        </div>
                        <input type="hidden" data-val="true" data-val-required="The StartDate field is required."
                            id="Collection_StartDate" name="Collection.StartDate" value="8/1/2020 12:00:00 AM">
                        <input type="hidden" data-val="true" data-val-required="The EndDate field is required."
                            id="Collection_EndDate" name="Collection.EndDate" value="7/31/2021 12:00:00 AM">
                    </div>
                    <br>
                </fieldset>
            </div>

            <br>
            <button class="govuk-button" type="submit" id="submit">
                Save and continue
            </button>
            <input name="__RequestVerificationToken" type="hidden"
                value="CfDJ8KK5pQ8LLh1EhGP30JpsGq3uFPV3lAn24B6Ry8qKDzrvPTreiu50uHJTnrXdeDZfibFtXOa7vJOczObDwgnMMKCfCobFRIBhfTe_7rWJnt_k46SAvz40bAdIBepOFOieEJdwdE6nSERCwTMfSkuypxt0CCPZqiHSNyZUxFlWtaWMVYHvR9bmIh1LZzhQA_Smwg">
        </form>
    </div>
</div>



{% endblock %}