
{% extends "layout-back.html" %}

{% block pageTitle %}
    FEW Staff and vacancy data - FE staff info
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          
        <span class="govuk-caption-xl">Academic year: 1 August 2020 to 31 July 2021</span>
        <h1 class="govuk-heading-xl">Further education (FE) staff and vacancy data collection</h1>

        <p class="govuk-body">
            If you receive direct funding from the ESFA you must tell us about the staff you employ.
        </p>

        <p class="govuk-body">
            Use this collection service to record and submit:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>FE staff data</li>
            <li>FE vacancy and recruitment data</li>
        </ul>

        <h2 class="govuk-heading-m">Recording and submitting data</h2>

        <p class="govuk-body">
            Data can be submitted using either of the following methods:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Online form service for staff and vacancy data collection</li>
            <li>XML file upload service for staff data collection only</li>
        </ul>

        <p class="govuk-body">
            XML file data can be prepared and generated <a class="govuk-link" href="/publicdownloads/FEWorkforceStaffentrytool">using our desktop application</a> or your own system
        </p>

        <p class="govuk-body">
            The time it takes to complete the collection will depend on how many staff are recorded and which recording method is used.
        </p>

        <h3 class="govuk-heading-s">Staff roles to record</h3>

        <p class="govuk-body">
            Record staff data for:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>senior leaders</li>
            <li>managers</li>
            <li>teachers</li>
            <li>teaching support</li>
            <li>administration staff</li>
        </ul>

        <p class="govuk-body">
            Do not record data for:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>agency staff</li>
            <li>self-employed or freelance staff</li>
            <li>staff working for a provider through an intermediary, such as a personal service company</li>
            <li>individuals in support roles which do not directly support learning, for example maintenance, cleaning and other ancillary roles</li>
        </ul>

        <h3 class="govuk-heading-s">How we use data</h3>

        <p class="govuk-body">
            When you use this service, we will collect personal information such as staff member names.
            <a class="govuk-link" href="https://www.gov.uk/government/publications/further-education-workforce-data-collection" target="_blank">Read about how we use personal information</a>
        </p>

        
        
        <a href="record-staff-data" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg></a>
    </div>
    <div class="govuk-grid-column-one-third">
            <aside class="app-related-items" role="complementary">
                    <h2 class="govuk-heading-m" id="subsection-title">
                      Help &amp; Support
                    </h2>
                    <p><a href="#" class="govuk-link">ESFA training provider self-help and communities</a></p>
                    <p><a href="#" class="govuk-link">Discussions forums</a></p>
                  <h3 class="govuk-heading-s">ESFA support desk</h3>
                  <p>Telephone: 0370 267 0001<br>
                  Monday to Thursday, 9:00am to 5:00pm<br>
                  Friday, 9:00am to 4:00pm<br>
                  <!-- <p>Email:  <a href="sde.servicedesk@education.gov.uk">sde.servicedesk@education.gov.uk</a></p> -->
                  </p><p>Log queries on the <a target="blank" href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&amp;redirectlink=%2Fen&amp;cancelRedirectLink=%2Fen&amp;consentMessage=yes">enquiry form</a></p>
                  
                  <h2 class="govuk-heading-m" id="subsection-title">
                    Related content
                    </h2>
                    <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                    <!-- <li>
                     <a href="#">
                      How to become an approved training provider
                     </a>
                    </li>
                    <li>
                      <a href="#">
                        2021 to 2022 submission timetable (appendix A)
                       </a>
                    </li>
                    <li>
                      <a href="#">
                        2020 to 2021 submission timetable (appendix A)
                       </a>
                    </li> -->
                    <li>
                      <a href="https://www.gov.uk/government/publications/further-education-workforce-data-collection">
                        Further education workforce data collection
                       </a>
                    </li>
                    </ul>
                    </nav>
                    <h2 class="govuk-heading-m" id="subsection-title">
                      Tools and services
                      </h2>
                      <nav role="navigation" aria-labelledby="subsection-title">
                        <ul class="govuk-list govuk-!-font-size-16">
                        
                        <li>
                          <a href="#">
                            FE staff data desktop application
                           </a>
                        </li>
                        </ul>
                        </nav>
                  </aside>
    </div>
</div>


{% endblock %}
